@import '~prismjs/themes/prism.css'

.content__default pre code, .content__default pre[class*="language-"] code {
    color: #000
}
.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
    background: $codeBgColor
}
