.katex {
  font-size: 1em !important;
  line-height: 1.2 !important;
}

.katex .vlist {
  line-height: 1 !important;
}

.katex-display {
  margin: 1.1em 0;
  overflow-x: auto;
  overflow-y: hidden;
}
